/* Header.css */
.navigation-menu {
  background-color: none;
  padding: 10px;
}

.navigation-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navigation-menu a {
  text-decoration: none;
  color: red;
  font-weight: 500;
}

.navigation-menu a:hover {
  color: black;
}
